# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore

# Metro / bundler
.metro-health-check*
metro.config.js.bak

# Testing / coverage
coverage/
*.lcov
.nyc_output/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Build artifacts
*.tsbuildinfo